PROJECT_NAME="GIPROY ERP"
API_V1_STR="/api/v1"
SECRET_KEY="change-this-in-env"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD=""
POSTGRES_SERVER="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="giproy_erp"
CREATE_TABLES_ON_STARTUP="false"
BIM_ENABLED="false"
BIM_ALLOWED_EMPRESA_IDS=""
BIM_ALLOWED_USER_IDS=""
